@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android' ;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: font-family: Arial, verdana, Helvetica, sans-serif;
    --fonte--destaque: 'bebas Neue', cursive;
    --fonte-android: 'android', cusive;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}



header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
}

header > h1 {
    color: white;
    padding: 40px;
    font-family: var(--fonte--destaque);
    font-size: 3em;
    text-align: center;
}

header > p {
   
    color: white;
    font-family:var(--fonte-padrao) ;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.863);
}


nav{
     padding: 10px;
     background-color: var(--cor5);
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.842);
     margin-bottom: 7px;
     
}

nav li {
    display: inline;
}


nav a {
     text-decoration: none;
     padding: 10px;
     border-radius: 5px;
     color: var(--cor1);
     font-weight: bold;
     transition-duration: .5s;
}

nav a:hover {
     background-color: var(--cor2);
     color: var(--cor4);
}



main {
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: justify;
    box-shadow:  0px 0px 10px black;
    margin-bottom:30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 35px;
    font-size: 1.1em;
    line-height: 1.5em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

article > h1 {
    padding: 10px;
    font-size: 2em;
}

article > h2 {
    font-size:20px ;
    height: 20px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgb(54, 224, 145), white);
    color: var(--cor4);
}

iframe {
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    
}


#corpo {
    padding: 0px 10px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;

}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714  ';
    columns: 2;

}


footer  {
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    padding: 5px;
}
