@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android' ;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: font-family: Arial, verdana, Helvetica, sans-serif;
    --fonte--destaque: 'bebas Neue', cursive;
    --fonte-android: 'android', cusive;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header{
   
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte--destaque);
    
}

header > p {
    text-align: center;
    padding: 10px;
    color: white;
}


nav{
     
     background-color: var(--cor5);
     height: 30px;
}


li {
    display: inline;
    
    padding: 6px 20px;
}

li:hover{
    color: rgb(15, 5, 5);
    background-color:rgb(36, 82, 12) ;
}

main {
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: justify;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

article > h1 {
  
    padding: 10px;
    font-size: 2em;
}

article > h2 {
    font-size:20px ;
    height: 20px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgb(54, 224, 145), white);

}

p{
    text-indent: 35px;
}

a{
    text-decoration: none;
    color: rgb(21, 78, 52);
    font-weight: bold;
}

aside > a{
    background-color:rgb(54, 224, 145) ;
    text-decoration: none;
    
}

#corpo {
    padding: 0px 10px;
}

footer > p {
    text-align: center;
    background-color: var(--cor5);
    color: white;
}
