@charset "utf-8";
@font-face {
    font-family: idroid ;
    src: url(fontes/idroid.otf) format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(231, 195, 148);
}



header{
    background-color: rgb(18, 54, 18);
    color: white;
}

header > h1, header > h2 {
    text-align: center;
    padding: 10px;
    
}

nav{
     
     background-color: rgb(1, 58, 1);
     height: 30px;
}


li {
    display: inline;
    
    padding: 6px 20px;
}

li:hover{
    color: rgb(15, 5, 5);
    background-color:rgb(36, 82, 12) ;
}

main {
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: justify;
}

article > h1 {
  
    padding: 10px;
    font-size: 2em;
}

article > h2 {
    font-size:20px ;
    height: 20px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgb(54, 224, 145), white);

}

p{
    text-indent: 35px;
}

a{
    text-decoration: none;
    color: rgb(21, 78, 52);
    font-weight: bold;
}

oside > a{
    background-color:rgb(54, 224, 145) ;
    text-decoration: none;
    
}

#corpo {
    padding: 0px 10px;
}

footer > p {
    text-align: center;
}

.indroid {
font-family: idroid;
}